$include-open-sans : false;

@import "settings";
@import "foundation";
@import "compass/css3";
@import "compass/utilities/general/float";

$row-width: rem-calc(940);
$column-gutter: rem-calc(20);
html{
	font-family: "Open Sans", sans-serif;
}
body{
	min-width: 280px;
}
/******************************/
/*	Media Queries      					  
/******************************/


$small-range: (0px, 320px);
$medium-range: (321px, 480px);
$large-range: (481px, 768px);
$xlarge-range: (769px, 1024px);
$xxlarge-range: (1025px);

$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";

$largest:  "#{$screen} and (min-width:#{upper-bound($xxlarge-range)})";
/*
body:before{
	background-color: red;
	color: black;
	font-weight: bold;
	@media #{$small-only} { content: "small";}
	@media #{$medium-only} { content: "medium";}
	@media #{$large-only} { content: "large";}
	@media #{$xlarge-only} { content: "large2";}
	@media #{$xxlarge-up} { content: "large3";}
}
*/



$orange-color: #e8663c;

.clearfix {
  @include clearfix;
}
body,html{
	height: 100%;
}

body{
	background: url(../images/background.png);
}
p{
  font-size: rem-calc(12px);
  margin-bottom: 23px;
  color: #414141;
  color: rgb(65,65,65);
  line-height: (18/12);
}
h1,h2,h3,h4,h5,h6{
   font-family: "Droid Sans",sans-serif;
   color: $orange-color;	
}
h1{
   font-size: rem-calc(21px);
}
h2{
   font-size: rem-calc(20px);
}

h3{
   font-size: rem-calc(19px);
}
h4{
   font-size: rem-calc(18px);
}
a{
   color: $orange-color;
}
a:visited{
   color: $orange-color;
   //text-decoration: underline;
}

a:hover{
  color: shade($orange-color,45%);
  @include transition-property(color);
  @include transition-duration(0.3s);
  //@include transition-timing-function(ease-in);
}

ul{
   list-style-type: none;
   margin-left: 0px;
}

/******************************/
/* Header and navigation
/******************************/
header{
	padding-top: 24px;
	@include grid-row();
}

.logo{
	@media #{$small-only} {@include grid-column(12);}
	@media #{$medium-only} {@include grid-column(12);}
	@media #{$large-only} {@include grid-column(12);}
	@media #{$xlarge-only} {@include grid-column(3);}
	@media #{$xxlarge-up} { @include grid-column(4);}
	height: 35px;
	overflow: hidden;
	padding-left: 0px;
}
.top-bar .toggle-topbar a.menu-icon span,.top-bar .toggle-topbar a.menu-icon span:hover{
	@include box-shadow(2px 10px 0 1px #fff,2px 16px 0 1px #fff, 2px 16px 0 1px #fff,2px 22px 0 1px #fff);
	color: #fff;
}
.top-bar .toggle-topbar a.menu-icon{
	background: $orange-color;
	@include border-radius(3px);
}
.top-bar.expanded .title-area{
	background-color: #fff;	
}

.top-bar-section ul{
	background: #fff;	
}

.top-bar{
	margin-bottom: 15px;
	background-color: #fff;	
	section{
		@media all and(min-width: 640px){float: right;}
		//@media all and(max-width: 640px){float: left;}
	}
	ul{
		margin: 0px;
		list-style-type: none !important;
	}
	.top-navigation li{
		@media #{$small-only} {text-align: left;}
		@media #{$medium-only} {text-align: left;}
		@media #{$large-up} {display: inline; margin-right: rem-calc(28px);}
	}
	.top-navigation a,.top-navigation a:visited{
	    text-align: left;
	    font-size: rem-calc(16px);
	    font-weight: bold;
	    font-family: "Droid Sans";
		color: #b9b9b9;
		background: #fff !important;
		&:hover,&:focus{
			color: $orange-color;
			text-decoration: none;
		}
	}
	.last{
		margin-right: 0px;
	}
	.toggle-topbar.menu-icon a{
		color: #b9b9b9;
		&:hover,&:focus{
			color: $orange-color;
		}
	}
}
/**
 *   
 * Input and forms
 */
input[type='text'],input[type="email"],input[type="password"],textarea{
  border: 1px solid #e8603c;
  color: #e8603c;
  font-size: rem-calc(12px);
  //text-transform: uppercase;
  padding-left: rem-calc(13px);
  margin-top: 0px;

}
input[type='text'],input[type="email"],input[type="password"]{
  width: 217px;
  max-width: 100%;
}
input[type='text']:focus,input[type="email"]:focus,textarea:focus,input[type="password"]{
  border: 1px solid #e8603c;
  @include box-shadow(#e8603c 0 0 5px );
}
input[type="submit"]{
  font-size: rem-calc(12px);
  color: white;
  background-color: #e8603c;
  //border: 1px solid #e8603c;
  border:none;
  padding: 10px 14px;
  margin-right: 15px;
  &:hover{
    background-color: rgba(194,80,50,1);
    cursor: pointer;
    @include transition-property(background-color);
  	@include transition-duration(0.3s);
  }
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
   color: #e8603c;
}

input:-moz-placeholder, textarea:-moz-placeholder{ /* Firefox 18- */
    color: #e8603c; 
}

input::-moz-placeholder,textarea::-moz-placeholder {  /* Firefox 19+ */
     color: #e8603c; 
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {  
     color: #e8603c;  
}

/**
 *   main title rules
 */
.page-title-wrapper{
  background: url(../images/slider-decoration.png);
  height: 61px;
  margin-bottom: 27px;
}

.page-title{
  @include grid-row();
  background-color: #e8603c;
  @media #{$xxlarge-up} {
    border-left: 11px solid #fff;
    border-right: 11px solid #fff;
  }
  max-width: 962px;
  position: relative;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: rem-calc(19px);
}
.page-title h1{
  color: white;
  font-family: "Droid Sans";
  font-size: rem-calc(24px);
  text-transform: uppercase;
}


/**********************/
/* Slider
/**********************/
.orbit-container .orbit-slides-container img{
	width: 100%;
}
.orbit-timer{
	display: none;
}
.slider-wrapper{
	position: relative;
}
$row-width: rem-calc(960);
.slider-background{
	background: url(../images/slider-decoration.png);
	height: 61px;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	.white-space{
		@include grid-row();
		background-color: #fff;
		height: 61px;
		display: block;
	}
}
$row-width: rem-calc(940);

.container-slider{
	@include grid-row();
}



.carousel-wrapper{
	@include grid-row();
	@media all and (max-width: 960px){
		padding-left: 10px;
		padding-right: 10px;
	}
}

.orbit-caption{
	background-color: rgba(198,99,56,0.8) !important;
	width: 45% !important;
	padding: 20px;
	position: absolute;
	bottom: 20px !important;
	left: 3% !important;
	z-index: 11;
	h3{
	  font-family: "Droid Sans";
		color: #fff;
		font-size: rem-calc(18px);
	}
	p{
		color: #fff;
		line-height: (14.4/12);
		font-size: rem-calc(12px);
	}
}

#carousel li{
 $total-columns: 10 ;
	@include grid-column($columns:2);
	$total-columns: 12;

	
	&:first-child{
		padding-left: 0px;
	}
	&:last-child{
		padding-right: 0px;
	}
	img{
		width: 100%;
	}
}
$total-columns: 12;

/*.slider-wrapper{
	background: url(../images/slider-decoration.png);
	height: 61px;	
}
.flex-viewport{
	float: left;
}
#carousel{
	@include grid-row();
	background: none;
	clear: both;
	position: relative;
}
.flex-direction-nav{
 li{
	display: inline-block;
	margin-right: 15px;
	margin-top: 5px;
   a:focus{
	color: #e8663c;
	
     }
  }
}
/*
.slider{
	//@include grid-row();
	background: none;
	
	clear: both;
	//width: 100%;
	//display: block;
	//position: relative;
	@media #{$xxlarge-up} {
		border-left: 11px solid #fff;
		border-right: 11px solid #fff;
		max-width: 962px;
	}
}
.slides{float: left; margin-left: 0px; margin-bottom: 0px;}

.slider-previous-button{
	@media #{$small-only} {display: none;}
	@media #{$medium-only} {display: none;}
	position: absolute;
	left: 2%;
	top: 30%;
	width: 36px;
	height: 52px;
	background: url('../images/previous.png') no-repeat;
	overflow: hidden;
	&:hover{
		cursor: pointer;
	}
}
.slider-next-button{
	@media #{$small-only} {display: none;}
	@media #{$medium-only} {display: none;}
	position: absolute;
	right: 2%;
	top: 30%;
	width: 36px;
	height: 52px;
	background: url('../images/next.png') no-repeat;
	overflow: hidden;
	&:hover{
		cursor: pointer;
	}
}
.slide-info-wrapper{
	
}

.slide-info{
	@media #{$small-only} {display: none;}
	@media #{$medium-only} {display: none;}
	@media #{$large-only} {display: none;}
	@media #{$xlarge-only} {display: none;}
	background-color: rgba(198,99,56,0.8);
	width: 45%;
	padding: 20px;
	position: absolute;
	bottom: 20px;
	left: 3%;
	z-index: 11;
	h3{
	  font-family: "Droid Sans";
		color: #fff;
		font-size: rem-calc(18px);
	}
	p{
		color: #fff;
		line-height: (14.4/12);
		font-size: rem-calc(12px);
	}
}

.slider-img{
	@include grid-column(12);
	width: 100%;
	height: 401px;
	padding-right: 0px;
	padding-left: 0px;
	float: left;
}

.slider-thumbnails{
	clear: both;
	list-style-type: none;
	padding: 0px;
	padding-top: 17px;
	margin-left: 0px;
	margin-right: 0px;
	li{
		display: inline;
		@media #{$small-only} {@include grid-column(6); margin-bottom: 10px;}
		@media #{$medium-only} {@include grid-column(6); margin-bottom: 10px;}
		@media #{$large-only} {@include grid-column(2);}
		@media #{$xlarge-only} {@include grid-column(2);}
		@media #{$xxlarge-up} { @include grid-column(2);}
		img{
			float: right; 
			width: 100%; 
			height: 117px;
		}
		padding-left: 0px !important;
		padding-right: 0px !important; 
		margin-left: 15px;
		margin-right: 15px;
	}
	.first{
		@media #{$large-up} {margin-left: 0px;}
	}
	.last{
		@media #{$large-up} {margin-right: 0px;}
	}

}


.left-slider-decoration{
	height: 61px;
	width: 20%;
	float: left;
	background: url(../images/slider-decoration.png);
	clear: left;
}

.right-slider-decoration{
	height: 61px;
	//width: 100%;
	float:left;
	display:inline-block;
	background: url(../images/slider-decoration.png);
}

.content{
	@include grid-row();
	clear: both;
}
*/
.button-orange{
	color: #fff;
	font-family: "Droid Sans";
	background-color: $orange-color;
	clear: both;
	float: left;
	display:block;
	padding-left: 13px;
	padding-right: 13px;
	padding-top: 10px;
	padding-bottom: 10px;
	&:hover{
		background-color: rgba(194,80,50,1);
		text-decoration: none;
		color: #fff;
		@include transition-property(background-color);
		@include transition-duration(0.3s);
		//@include transition-timing-function(ease-in);
	}
	&:visited{
		color: #fff;
	}
}

.content{
	@include grid-row();
	@media all and (max-width: 960px){
		padding-left: 10px;
		padding-right: 10px;
	}
}
/******************************/
/* Portfolio part - front page
/******************************/
.latest-portfolio-items, .work, .connected{
	@media #{$small-only} {@include grid-column(12);}
	@media #{$medium-only} {@include grid-column(12);}
	@media #{$large-only} {@include grid-column(12);}
	@media #{$xlarge-only} {@include grid-column(4);}
	@media #{$xxlarge-up} {@include grid-column(4);}
	//padding-left: 0px !important;

	margin-bottom: 20px;
	h2{
	  font-family: "Droid Sans";
		color: $orange-color;
		padding-left: rem-calc(60px);
		font-size: rem-calc(18px);
		margin-top: 0px;
		margin-bottom: 35px;
		line-height: (24/18);
		font-weight: bold;
	}
	p{
		color: #939393;
		font-size: rem-calc(12px);
		line-height: (18/12);
	}
}
.latest-portfolio-items{
	background: url(../images/icon-portfolio.png) no-repeat;
}

.work{
	background: url(../images/icon-work.png) no-repeat;
}

.connected{
	background: url(../images/icon-connected.png) no-repeat;
}
.first-page .view{
	float: left;
	width: 100%;
}

.features{
	clear: both;
	margin-bottom: 22px;
	margin-top: 45px;
	@include clearfix;
}

/******************************/
/* Work items
/******************************/
.recent-works-heading{
	clear:both;
	margin-bottom: 26px;
	h3{
	    font-family: "Droid Sans";
		font-size: rem-calc(18px);
		color: $orange-color;
		display: inline-block;
		margin-top: 0px;
		float: left;
		font-weight: bold;
	}
}

.recent-works-headinglines{
	background: url(../images/header-lines.jpg) repeat-x;
	display: inline-block;
	float: right;
	height: rem-calc(18px);
	margin-top: rem-calc(3.2px);
	
	@media #{$small-only} {width: 50%;}
	@media #{$medium-only} {width: 50%;}
	@media #{$large-only} {width: 70%;}
	@media #{$xlarge-only} {width: 81%;}
	@media #{$xxlarge-up} {width: 81%;}
}

.work-item{
	@media #{$small-only} {@include grid-column(12);  max-width: 225px;}
	@media #{$medium-only} {@include grid-column(12);  max-width: 225px;}
	@media #{$large-only} {@include grid-column(6); max-width: 225px;}
	@media #{$xlarge-only} {@include grid-column(3);}
	@media #{$xxlarge-up} {@include grid-column(3);}
	display:inline-block;
	float: left;
	margin-bottom: 50px;
	//width: 25%;
	padding-right: rem-calc(20px);
	//max-width: 220px;
	img{
	width: 100%;
	height: 179px;
	}
}
.first-page .views-row{
	@extend .work-item;
}
.first-work-item{
	@extend .work-item;
	@media #{$xlarge-up} {padding-left: rem-calc(0px);}
}

.last-work-item{
	@extend .work-item;
	@media #{$xlarge-up} {padding-right: rem-calc(0px);}
}

.work-info{
  	font-family: "Droid Sans";
	border-bottom: 1px solid #dbdbdb;
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	background-color: #fff;
	padding: 15px;
}
.work-info p{
 	margin-bottom: 0px;
}
.work-info a{
	color: #b9b9b9;
	font-size: rem-calc(16px);
	&:hover{
		color: $orange-color;
		text-decoration: none;
		@include transition-property(color);
		@include transition-duration(0.3s);
	}
}
.work-posted{
	color: $orange-color;
	font-size: rem-calc(11px);
	margin-bottom: 0px;
	margin-top: 8px;
}
/******************************/
/* Footer
/******************************/
$row-width: rem-calc(960);
.footer-wrapper{
  	line-height: (14.4/12);
	padding-top: 40px;
	padding-bottom: 30px;
	@include grid-row();
	background-color: $orange-color;
	@media  all  and (min-width: 960px){
		border-left: 10px solid #fff;
		border-right: 10px solid #fff; 
	}
}
$row-width: rem-calc(940);
footer{
	background: url(../images/slider-decoration.png);
}

.footer-about{
	h3{
	  font-family: "Droid Sans";
		font-size: rem-calc(20px);
		color: #fff;
		margin-bottom: 20px;
	}
	p{
		font-size: rem-calc(12px);
		color: #fff;
	}
}
.footer-twitter{
	h3{
	  font-family: "Droid Sans";
		font-size: rem-calc(20px);
		color: #fff;
		margin-bottom: 20px;
	}
	p{
		font-size: rem-calc(12px);
		color: #fff;
	}
}

.twitter-post{
	margin-bottom: 11px;
	color: #fff;
	a,a:focus,a:visited,a:hover{
		color: #f3b29d;
		text-decoration: none;
	}
}
.twitter-post-time{
	margin-bottom: 20px;
	color: #f3b29d !important;
}
.twitter-follow{
	margin-top: 5px;
	color: #fff;
	a,a:focus,a:visited,a:hover{
		color: #f3b29d;
		text-decoration: none;
	}
}

.footer-contact{
	h3{
	  font-family: "Droid Sans";
		color: #fff;
		font-size: rem-calc(20px);
		margin-bottom: 20px;
	}
	p{
		font-size: rem-calc(12px);
		margin-bottom: 20px;
		color: #fff;
	}
	a,a:focus,a:visited,a:hover{
		color: #f3b29d;
		text-decoration: none;
	}
}

.footer-about,.footer-twitter, .footer-contact{
	@media #{$small-only} {@include grid-column(12);}
	@media #{$medium-only} {@include grid-column(12);}
	@media #{$large-only} {@include grid-column(6);}
	@media #{$xlarge-only} {@include grid-column(4);}
	@media #{$xxlarge-up} {@include grid-column(4);}
	color: #fff;
}
/******************************/
/* Social network styling
/******************************/
.social-icons{
	clear: both;
	display: block;
	margin-left: 0px;
	padding-top: 20px;
	li{
		display: inline;
		opacity: 1;
		&:hover{	
		opacity: 0.6;
		@include transition-property(opacity);
		@include transition-duration(0.3s);}
	}
}

.icon-facebook{
	a{padding: 15px; background: url(../images/icon-facebook.png) no-repeat; }
}

.icon-twitter{
	a{
		background: url(../images/icon-twitter.png) no-repeat;
		padding: 15px;
	}
}

.icon-email{
	a{
		background: url(../images/icon-email.png) no-repeat;
		padding: 15px;
	}
}

.icon-rss{
	a{
		background: url(../images/icon-rss.png) no-repeat;
		padding: 15px;
	}
}

.icon-vimeo{
	a{
	background: url(../images/icon-vimeo.png) no-repeat;
	padding: 15px;
	}
}
/**********************/
/* About page
/**********************/

.about-first-p{
  font-size: rem-calc(12px);
  margin-bottom: 39px;
  color: #414141;
  color: rgb(65,65,65);
  line-height: (18/12);
}
.about-img-wrapper{
  //min-width: 228px;
  width: 22.8%;
  height: auto;
  border: 1px solid #cccccc;
  padding: 2px;
  img{
    width: 100%;
  }
  float: left;
  display: inline-block;
  margin-right: 2.4%;
  margin-bottom: 23px;
}
.about-img-p{
  width: 74.7%;
}
.about p{
  font-size: rem-calc(12px);
  margin-bottom: 23px;
  color: #414141;
  color: rgb(65,65,65);
  line-height: (18/12);
  float: left;
  display: inline-block;
}
.about{
  @include grid-row();
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
}

/**
 *   Blog posts (teasers)
 */
.blog-posts,.post-sidebar{
  @media #{$small-only} {width: 100%;}
  @media #{$medium-only} {width: 100%;}
  @media #{$large-up} {width: 73%;margin-right: 5%;}
  
  float: left;
  overflow: visible;
}
.blog-post-icon{
  background: url(../images/blog-post-icon.png) no-repeat;
  width: rem-calc(75px);
  height: rem-calc(75px);
  position: absolute;
  left: -(rem-calc(86px));
  @media all and (max-width: 1120px){
  	display: none;
  }
}
.blog-post-teaser{
  position: relative;
  float: left;
  img{
    width: 100%;
    height: auto;
    margin-bottom: 24px;
  }
}
.blog-post-teaser-meta{
  @media #{$small-only} {width: 100%;}
  @media #{$medium-only} {width: 100%;}
  @media #{$large-up} {width: 100%;}
  @media #{$xlarge-up} {width: 20.5479%;}
  float: left;
  clear: left;
  p,time,a{
     font-size: rem-calc(12px);
     margin-bottom: 17px;
     display: block;
     color: #bababa;
  }
  a:hover{
     color: $orange-color;
     @include transition-property(color);
  	 @include transition-duration(0.3s);
  }
}
.blog-post-meta-title{
  font-family: "Droid Sans";
  font-size: rem-calc(12px);
  line-height: (20/12);
  color: #e8603c !important;
  color: rgb(232,96,60);
  margin-bottom: 10px !important;
}
.blog-post-teaser-content{
  @media #{$small-only} {width: 100%;}
  @media #{$medium-only} {width: 100%;}
  @media #{$large-up} {width: 100%;}
  @media #{$xlarge-up} {width: 79.45%;}
  float: left;
  img{
    margin-bottom: 15px;
  }
  display: inline-block;
  h2, h2 a{
    font-family: "Droid Sans";
    color: $orange-color;
    text-decoration: none;
    margin-bottom: 21px;
    font-size: rem-calc(18px);
  }
  h2 a:hover{
    color: shade($orange-color,20%);
    @include transition-property(color);
  	 @include transition-duration(0.3s);
  }
  p{
    color: #414141;
    color: rgb(41,41,41);
    font-size: rem-calc(12px);
    margin-bottom: 23px;
  }
  a{
     color: $orange-color;
  }
  a:hover{  
    color: shade($orange-color,20%);
    text-decoration: none;
    @include transition-property(color);
  	@include transition-duration(0.3s);
  }
  margin-bottom: 27px;
}

/**
 *   sidebar
 */
.sidebar{
  @media #{$small-only} {width: 100%;}
  @media #{$medium-only} {width: 100%;}
  @media #{$large-up} {width: 22%;}
 
  float: left;
  h3{
    color: #e8603c;
    color: rgb(232,96,60);
    font-size: rem-calc(14px);
    font-family: "Droid Sans";
    padding-right: 17px;
    margin-bottom: 19px;
    display: inline-block;
  }
  p{
    font-size: rem-calc(12px);
    line-height: (14.4/12);
    color: #464646;
    color: rgb(70,70,70);
  }
  ul{
    list-style-type: none;
    margin-left: 0px;
  }
  li a{
    color: #464646;
    font-size: rem-calc(12px);
    line-height: (14.4/12);
    color: rgb(70,70,70);
    &:hover{
      color: $orange-color;
  	  @include transition-property(color);
	  @include transition-duration(0.3s);
      text-decoration: none;
      cursor:hover;
    }
  }
  
}
.sidebar-photo-gallery{
  li{
    margin-right: 1.93%;
    margin-bottom: 6px;
    display: inline-block;
    float: left;
    width: 23.03%;
    min-width: 47px;

  }
  img{
    border: 1px solid #e8603c;
    width: 100%;
    height: 50px;
  }    
  /*.no-right-margin{
  @media #{$small-only} {margin-right: 1.93%;}
  @media #{$medium-only} {margin-right: 1.93%;}
  @media #{$large-only} {margin-right: 1.93%;}
  @media #{$xlarge-up} {margin-right: 0px;}    
  }*/
}
.sidebar-widget{
  margin-bottom: 37px;
}

/**
 *   separator and heading lines
 */

.sidebar-widget .bottom-separator{
  background: url(../images/header-lines.jpg) repeat-x;
  height: 14px;
  display: block;
  
  width: 100%;
  //margin-top: rem-calc(5px);
}

.separator{
  background: url(../images/header-lines.jpg);
  height: 14px;
  display: block;
  width: 100%;
  clear:both;
  margin-bottom: 55px;
}
.headinglines{
  background: url(../images/header-lines.jpg) repeat-x;
  height: 14px;
  display: inline-block;
  
  @media #{$medium-only} {display: none;}
  
  float: right;
  width: 50%;
  margin-top: rem-calc(5px);
}

.headinglines-recentworks{
   @extend .headinglines;
    @media #{$small-only} {width: 45%;}
  	@media #{$xlarge-only} {width: 10%;}
    width: 38%;
}

.headinglines-categories{
   @extend .headinglines;
    @media #{$small-only} {width: 60%;}
   	@media #{$xlarge-only} {width: 10%;}
    width: 50%;
}

.headinglines-photogallery{
   @extend .headinglines;
    @media #{$small-only} {width: 45%;}
   	@media #{$xlarge-only} {width: 10%;}
    width: 39%;
}

/**
 * Contact page   
 */
.contact-wrapper{
  width: 73%;
  margin-right: 5%;
  float: left;
  img{
    margin-bottom: 36px;
    width: 100%;
  }

}
.contact-info{
  @media #{$small-only} {width: 100%;margin-right: 0%;}
  @media #{$medium-only} {width: 100%;margin-right: 0%;}
  @media #{$large-up} {width: 24.65%; margin-right: 4.67%;}
  
  display: inline-block;
  
  float: left;
  img{
	width: 100%;
  }

  h4{
    font-size: rem-calc(12px);
    color: #e8603c;
    color: rgb(232,96,60);
    line-height: (14/12);
    margin-top: 0px;
    margin-bottom: 0px;
  }
  p{
    font-size: rem-calc(12px);
    margin-bottom: 11px;
      line-height: (14/12);
  }
}

.contact-form{
  @media #{$small-only} {width: 100%;}
  @media #{$medium-only} {width: 100%;}
  @media #{$large-up} { width: 70.68%;}
 
  display: inline-block;
  float: left;
  margin-bottom: 37px;
  textarea{
    height: 200px;
  }
}
/**
 * portfolio page  
 *
 */
.portfolio-categories{
  margin-bottom: 37px;
  ul{list-style-type: none; margin-left: 0px;}
  li{
    padding: 5px 11px;
    display: inline-block;
    font-size: rem-calc(14px);
    font-family: "Droid Sans";
    a{
    color: #b9b9b9;
    color: rgb(185,185,185);
    &:hover{color: #e8663c;}
    }
  }
  .selected{
    a{color: white !important;}
    background-color: $orange-color;
    &:hover{
	    @include transition-property(background-color);
		@include transition-duration(0.3s);
	    background-color: shade($orange-color,20%);
	}
  }
}
.portfolio-item{
  @media #{$small-only} {width: 100%;}
  @media #{$medium-only} {width: 100%;}
  @media #{$large-up} {width: 22%;}
  margin-right: 4%;
  float: left;
  display: inline-block;
  margin-bottom: 41px;
  img{
    width: 100%;
  }
}
.portfolio-info{
  border: 1px solid #dbdbdb;
  border-top: none;
  padding: rem-calc(14px);
  h3{
    color: #b9b9b9;
    font-size: rem-calc(16px);
    font-family: "Droid Sans";
    margin-top: 14px;
    margin-bottom: 8px;
  }
  a{
    color: #b9b9b9;
    //font-size: rem-calc(16px);
    font-family: "Droid Sans";
    //margin-top: 14px;
    //margin-bottom: 8px;
    &:hover{
    	@include transition-property(color);
		@include transition-duration(0.3s);
		color: $orange-color;
		text-decoration: none;
    }
  }
  p{
    font-size: rem-calc(11px);
    color: #e8663c;
    font-family: "Droid Sans";
    margin-bottom: 0px;
  }
}
.portfolio{
  float: left;
  clear: both;
  width: 100%;
}
.no-right-margin{
  margin-right: 0px;
}
.no-right-margin .portfolio-item{
  margin-right: 0px;
}
no-bottom-margin{
  margin-bottom: 0px;
}


/*
* Comments
*/
#comments{
   margin-bottom: 30px;
   .separator{
    margin-bottom: 30px;
   }
}
.comment-content{
   border: 1px solid rgba(0, 0, 0, 0.1);
   padding: 1.5%;
}

/*
* override drupal styling
*/
.form-item{margin-top: 0px;}
.comment-submitted{
   margin-bottom: 10px;
   
}
.comment-submitted .author{
   color: $orange-color;
   text-transform: uppercase;
   span{
   	 color: $orange-color;
   }
}

.comment-submitted .created{
   float: left;
   display: inline-block;
   margin-top: rem-calc(3px);	
}
.comment-submitted .author{
   float: left;
   display: inline-block;
   margin-top: rem-calc(3px);	
}
.comment-submitted span, .comment_forbidden span{
  font-size: rem-calc(14px);
  color: #414141;
  color: rgb(65,65,65);
  line-height: (18/12);
}

.comment{
   margin-bottom: 10px;
}

/*
* Pager
*/

.pager{
	li{
		margin: 0px !important;
		a{
			color: #fff;
			background: $orange-color;
			opacity: 0.6;
			padding: 5px 11px;
			&:hover{
				opacity: 1;
				@include transition-property(opacity);
				@include transition-duration(0.3s);
			}
		}
	}
	li.pager-current{
		padding: 5px 11px;
		//display: block;
		opacity: 1;
		color: #fff;
		background: $orange-color;
	}
}